stark.net.tr, www.stark.net.tr {
    header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    header X-Content-Type-Options "nosniff"
    header X-Frame-Options "SAMEORIGIN"

    reverse_proxy /socket.io/* http://backend:5000
    reverse_proxy /api/* http://backend:5000
    reverse_proxy /downloads/* http://backend:5000
    reverse_proxy /uploads/* http://backend:5000
    reverse_proxy * http://frontend:5173
}

intel.stark.net.tr {
    reverse_proxy * http://stark_intel:5177
}

command.stark.net.tr {
    reverse_proxy /api/* http://stark-command-api:5176
    reverse_proxy /socket.io/* http://stark-command-api:5176
    reverse_proxy * http://stark-command:5175
}

admin.stark.net.tr {
    reverse_proxy /api/* http://backend:5000
    reverse_proxy * http://admin:5174
}

