stark.net.tr, www.stark.net.tr {
    header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"

    reverse_proxy /socket.io/* http://backend:5000
    reverse_proxy /api/* http://backend:5000
    reverse_proxy /downloads/* http://backend:5000
    reverse_proxy /uploads/* http://backend:5000
    reverse_proxy * http://frontend:5173
}

admin.stark.net.tr {
    reverse_proxy /api/* http://backend:5000
    reverse_proxy * http://admin:5174
}
